
.mr-auto {
    background-color: #EAAA00;
    color: black !important;
}

.text1 {
    color: #333333 !important;
}

.text2 {
    color: #333333 !important;
}

.text3 {
    color: #333333 !important;
}